/* * {
    box-sizing: border-box;
    padding: 10
} */

.parent {
    display: flex;
    box-sizing: border-box;
}

.leftBox a.top {
    float: left;
    padding: 5px;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.leftBox a.top:hover {
    color: rgb(250, 0, 0);
}

.leftBox p {
    float: left;
    padding: 5px;
    text-decoration: none;
}

.leftBox {
    float:left;
    width: 10%;
    margin: 8px;
    border-radius: 10px;
    background: rgb(210, 246, 255);
}

.card {
    background: rgb(252, 250, 211);
    margin: 8px;
    border-radius: 10px;
    float:right;
    width: 90%;
    box-sizing: border-box;
  }

.rightPicBox {
    width: 30%;
    background: rgb(25, 0, 255);
}

.card:hover {
    background: rgb(255, 248, 121);
    transform: scale(1.03);
  }

.topRow {
    background: rgb(230, 250, 255);
    border-radius: 10px;
}

.ownPostRow {
    float:right;
    position: absolute;
    right: 0;
    background: rgb(255, 220, 220);
    border-radius: 10px;
}


.actionRow {
    position: absolute;
    bottom: 0;
    background: rgb(230, 255, 229);
    border-radius: 10px;
    padding: 5px 0px;
}

.card a.top {
    float: left;
    padding: 5px;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.card a.top:hover {
    color: rgb(255, 0, 0);
}

.card a.right {
    float: right;
    padding: 5px;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.card a.rightDate {
    float: right;
    padding: 5px;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.card a.right:hover {
    float: right;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.card a.title {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.card a.descrip {
    padding: 5px;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.rightSide {
    position: absolute;
    bottom: 0;
}

.card input {
    padding:0px;
}

.titleRow {
    font-weight: 700;
}

.titleRow a {
    float: right;
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.titleRow a:hover {
    float: right;
    text-decoration: none;
    color: rgb(186, 0, 0);
}

.largeProfilePic {
    width: 200px;
    height: 200px;
}

.largeProfilePic img{
    width:100%;
    border-radius: 50%;
}



.mainBox {
    float:right;
    width: 80%;
    box-sizing: border-box;
    background-color: red;
}

img.smallPic{
    aspect-ratio : 1 / 1;
    border-radius: 50%;
    width:100%;
}

img.postPic{
    object-fit: cover;
    max-width:200px;
    max-height:200px;
    padding: 5px;
}

img.postPicBig{
    object-fit: cover;
    min-height:500px;
    max-width:1000px;
    max-height:1000px;
    padding: 5px;
}

.auto_height { /* CSS */
    width: 100%;
  }