.profParent {
    display:flex;
    background: rgb(216, 255, 225);
    overflow: hidden;
    border-radius: 20px;
}

.profLeftBox {
    float:left;
    margin: 10px;
    border-radius: 10px;
    background: rgb(210, 246, 255);
} 


.profRightBox {
    float:right;
    margin: 10px;
    width: 70%;
    border-radius: 10px;
    background: rgb(252, 250, 211);
    box-sizing: border-box;
  } 

img.bigPic{
    aspect-ratio : 1 / 1;
    border-radius: 50%;
    width:300px;
}